body{
	color: #495057;
	font-family: Lora, serif;
	font-size: 0.875rem;
	background: #f8f9fa;

}

/*----*/

.wrapper{
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

/*zalupa*/
[class*="_container"]{
	max-width: 83.125rem;
	padding-left: 0.9375rem;
	padding-r ight: 0.9375rem;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
}

.category{
	background: rgba(255, 255, 225, 0.15);
	border-radius: 0.5rem;
	padding: 0.3125rem 0.625rem;
	display: inline-block;
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 0.625rem;
	line-height: 120%;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.3s;
}

.category:hover{
	background: yellow;

}

.title{
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 127.777778%;
	color: #fff;


}

.title_dark{
	color: #495057;
}

.text{
	font-size: 0.75rem;
	line-height: 166.666666%;
}

/*post*/

.big-post {
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: #fff;
}
.big-post_container {
	position: relative;
	display: grid;
	justify-items: center;
	z-index: 2;
	gap: 0.8125rem;	

}

.big-post_title.title {
	max-width: 33.125rem;
}
.big-post_link-title {
}
.big-post_text {
	color: #e5e5e5;
	max-width: 26.25rem;

}

.big-post_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: grey;
}
.big-post_bg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	opacity: 0.5;
}

/*related*/


.related {
	padding: 6.25rem 0;
}
.related_container {
}
.related_title {
	margin-bottom: 2.8125rem;

}
.related_items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(26.25rem, 1fr));
	gap: 1.5rem;
}

.item-related {
	border-radius: 0.3125rem;
	position: relative;
	overflow: hidden;

}
.item-related_category {
	position: absolute;
	z-index: 3;
	top: 1.25rem;
	right: 1.25rem;

}

.item-related_content {
	position: relative;
	z-index: 2;
	display: grid;
	align-content: end;
	color: #e5e5e5;
	min-height: 21.875rem;
	gap: 0.9375rem;
	padding: 2.5rem;


}

.item-related_title {
	color: #fff;
	font-size: 1.125rem;
	line-height: 138.8888889%;
	font-weight: 700;

}
.item-related_title:hover{
	text-decoration: underline;
}

.item-related_image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: grey;
}

.item-related_image img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	transition: all 0.8s;
	opacity: 0.5;
}

.item-related:hover .item-related_image img{
	transform: scale(1.05);

}


@media (max-width: 991.98px){
	.related{
		padding: 4.735rem 0;
	}
}
@media (max-width: 767.98px){
	.related{
		padding: 2.5rem 0;
	}
	.related_title{
		margin-bottom: 1.5rem;
	}


}

@media (max-width: 479.98px){
	.related_items{
		grid-template-columns:repeat(auto-fill, minmax(17.5rem, 1fr));;
	}
	.item-related_content{
		padding: 0.9rem;
		min-height: 18.75rem;

	}

}

/*ююю*/

[data-item]{
	transform: translate(0px, 3.125rem);
	opacity: 0;
	transition: all 0.8s;
}

[data-item].active{
	transform: translate(0, 0);
	opacity: 1;
	
}