body{
	color: #495057;
	font-family: Lora, serif;
	font-size: 0.875rem;
	background: #f8f9fa;

}

/*----*/

.wrapper{
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

/*zalupa*/
[class*="_container"]{
	max-width: 83.125rem;
	padding-left: 0.9375rem;
	padding-r ight: 0.9375rem;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
}

.category{
	background: rgba(255, 255, 225, 0.15);
	border-radius: 0.5rem;
	padding: 0.3125rem 0.625rem;
	display: inline-block;
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 0.625rem;
	line-height: 120%;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.3s;
}

.category:hover{
	background: yellow;

}

.title{
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 127.777778%;
	color: #fff;


}

.title_dark{
	color: #495057;
}

.text{
	font-size: 0.75rem;
	line-height: 166.666666%;
}