/*header*/

.header{
	 position: fixed;
	 width: 100%;
	 top: 0;
	 left: 0;
	 z-index: 50;
	 background: rgba(0, 0, 0, 0.4);

}
.header_container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.9375rem;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	min-height: 5rem;

}

.menu_list{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 0.3125rem;
	column-gap: 1.5rem;

}

.menu_link{
	font-weight: 700;
	color: #fff;
	font-family: Roboto, sans-serif;
	display: inline-block;
	line-height: 1.5;
	position: relative;
}

.menu_link::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0.125rem;
	transition: all 0.3s;
	background-color: #d4a373;
}

.menu_link.active::after,
.menu_link:hover::after{
	width: 100%;
	left: 0;

}